<!DOCTYPE html>
<html>

<head>
  <title>{{.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <link rel="shortcut icon" href="/favicon.ico">
  <style>
    body{padding: 50px;font: 14px "Helvetica Neue", Helvetica, sans-serif}
    h1{font-size: 2em;margin-bottom: 5px}
    pre{font-size: .8em}
  </style>
</head>

<body>
  <div id="app">
    <h1>{{.title}}</h1>
    <p>Looks like something broke!</p>
    <p>{{if .message}}{{.message}}{{else}}Not Found{{end}}</p>
  </div>
</body>

</html>